<div class="row">
    <div class="col-xs-12">
    <button class="btn btn-success">Nieuw recept</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix">
            <div class="pull-left"></div>
            <h4 class="list-group-item-heading">Naam recept</h4>
            <p class="list-group-item-text">Beschrijving recept</p>
            <span class="pull-right">
                <img src="" alt="" class="img-responsive" style="max-height: 50px;">
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>